/* App.css */

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.app-container h1 {
    margin-bottom: 10px; 
}
.app-container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem; /* Larger font size */
    font-weight: 600; /* Bold font weight */
    letter-spacing: 1px; /* Spacing between letters */
    color: #ffffff; /* Dark text color for contrast */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* Subtle text shadow for depth */
    margin-bottom: 20px; /* Adjusted margin */
}
/* App.css */

/* App.css */
.download-btn-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px; /* Add some space above the button */
    flex-direction: column; /* Ensures children (the button) are stacked vertically */
    align-items: center; /* Center-align the items on the cross-axis (horizontally when flex-direction is column) */
}
